# REVO configuration file.
# Only `feature_names` is required. The rest of the parameters fall back to the defaults shown here if not specified.
feature_names:
  - feature_0
  - feature_1

pmin: 1.0e-12
pmax: 0.1
dist_exponent: 4
merge_dist_fraction: 0.5
use_weights: true
merge_alg: pairs
importance: null
pcoord_ranges: null